{% extends "layout.twig" %}

{% block content %}
    <div>
        <p>Airbnb est l’une des plus grandes plateformes proposant des lieux et des activités uniques et authentiques, avec plus de 7 millions de logements et 40 000 Expériences, proposés par des hôtes locaux à travers le monde. En permettant à des millions d’entrepreneurs du secteur de l’hospitalité de rentabiliser un espace ou une passion, la plateforme favorise le développement de l’économie locale. Avec plus d’un demi-milliard d’arrivées voyageurs dans le monde et une plateforme accessible en 62 langues dans 191 pays et régions, Airbnb promeut la création de liens et de confiance dans les communautés où elle opère, partout dans le monde.</p>
    </div>
{% endblock %}