{% extends "layout.twig" %}

{% block content %}
    <div>
        <p><strong>Veuillez lire attentivement les présentes Conditions de Service pour les utilisateurs européens (« Conditions ») car elles contiennent des informations importantes concernant vos droits, obligations et recours légaux. En accédant à la Plateforme Airbnb ou en l’utilisant, vous acceptez d’être lié par les présentes Conditions et de vous y conformer.</strong></p>
        <p><strong>Remarque : Les présentes Conditions contient une clause d’arbitrage et de renonciation de recours collectif qui s’applique à toute procédure engagée contre Airbnb aux États-Unis. Elle affecte le mode de résolution des litiges avec Airbnb. En acceptant les présentes Conditions, vous acceptez d’être soumis à cette clause d’arbitrage et de renonciation au recours collectif. Veuillez la lire attentivement.</strong></p>
        <p><strong>Vous pouvez accéder à la plateforme en ligne de résolution des litiges de la Commission européenne ici : . Veuillez noter qu'Airbnb n'est pas obligée et ne s'engage pas à utiliser un mode de résolution de litige alternatif pour résoudre tous litiges avec des consommateurs.</strong></p>
        <p>Dernière mise à jour : 1er novembre 2019</p>
        <p>Merci d’utiliser Airbnb !</p>
    </div>
{% endblock %}