{% extends "layout.twig" %}

{% block content %}
    <div>
        <p>Merci d’utiliser Airbnb ! Votre confiance est importante pour nous, et nous nous engageons à protéger la confidentialité et la sécurité de vos données à caractère personnel. Les informations qui nous sont communiquées nous aident à offrir une excellente expérience avec Airbnb. Nous disposons d'une équipe dédiée à la protection des données à caractère personnel, qui veille à ce que toutes les données à caractère personnel que nous collectons soient protégées et traitées correctement dans le monde entier.</p>
        <p>La présente Charte de protection des données à caractère personnel décrit la façon dont nous collectons, utilisons, traitons et divulguons vos informations personnelles, en lien avec votre accès et votre utilisation de la Plateforme Airbnb et des Services de paiement. La présente Charte de protection des données à caractère personnel décrit nos pratiques en matière de protection des données à caractère personnel sur tous les sites web, plateformes et services qui renvoient à la présente Charte. Veuillez lire la Charte de protection des données à caractère personnel sur le site concerné.</p>
        <p><strong>1.1 DÉFINITIONS</strong></p>
        <p>Si vous rencontrez un terme sans définition dans la présente Charte de protection des données à caractère personnel (comme « Annonce » ou « Plateforme Airbnb »), ce terme aura la même définition que celle figurant dans nos Conditions de service (« Conditions de service »).</p>
        <p><strong>1.2 RESPONSABLE DU TRAITEMENT</strong></p>
        <p>Lorsque cette charte fait mention des termes « Airbnb », « nous », « notre » ou « nos », elle fait référence à la société Airbnb, laquelle est responsable des informations vous concernant, conformément à la présente Charte de protection des données à caractère personnel (le « Responsable du traitement »).</p>
    </div>
{% endblock %}

